html, body, div, span, applet, object, iframe,
h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.col-sm-4{
  padding:  10px;
  border: 1px solid grey;
  height: auto;
}
.inner-img{
  height: auto;
  width: 100%;
}

.text-align {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center ;
}
.text-align p {
  margin: 0 ;
}

.list{
  text-align: center;
  list-style-position: inside;
  }

.col-lg-2{
  border: 1px solid grey;
  height: 150px;
  background-color: #5467
  
}
.col-lg-2:nth-child(even){
  background-color: #654;
}
.col-6{
   height: 100%;
  display: flex;
  align-items: center;
  justify-content: center ;
  height: 400px;
  border: 1px solid #244;
}